* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  background-image: url("./img/dust.png");
  cursor: none;
}

.wrapper {
  width: 100%;
}

.container {
  height: 100vh;
  width: 100%;
}

.squares {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  position: relative;
  width: 15vw;
  height: 15vw;
  background-color: #8080807a;
  margin: 20px;
}
